---
import { AppBoundary, GlobalStyles } from 'chisel-ui'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Chisel UI</title>
		<GlobalStyles opinionated />
	</head>

	<body>
		<AppBoundary>
			<main>
        		<slot />
			</main>
		</AppBoundary>
	</body>
</html>
