---
import { FullBleed, Stack } from '@chisel-ui/astro'
import { Sprite } from 'astro-icon'
import '@chisel-ui/core/reset.css'
import '@chisel-ui/core/opinionated.css'
import Accordion from '../components/Accordion.astro'
import SidebarLayout from '../components/SidebarLayout.astro'

const { content } = Astro.props
const title = [content?.title, 'Chisel UI'].filter(Boolean).join(' | ')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>

	<body>
		<Sprite.Provider>
			<SidebarLayout>
				<Stack as="nav" slot="sidebar" gap="lg">
					<Accordion open>
						<Fragment slot="summary">Layouts</Fragment>

						<Stack as="ul" gap="xs">
							<li><a href="/columndrop">ColumnDrop</a></li>
							<li><a href="/columns">Columns</a></li>
							<li><a href="/column">Column</a></li>
							<li><a href="/grid">Grid</a></li>
							<li><a href="/inline">Inline</a></li>
							<li><a href="/inlinecluster">InlineCluster</a></li>
							<li><a href="/split">Split</a></li>
							<li><a href="/stack">Stack</a></li>
						</Stack>
					</Accordion>

					<Accordion open>
						<Fragment slot="summary">Wrappers</Fragment>

						<Stack as="ul" gap="xs">
							<li><a href="/wrappers/center">Center</a></li>
							<li><a href="/wrappers/cover">Cover</a></li>
							<li><a href="/wrappers/frame">Frame</a></li>
							<li><a href="/wrappers/padbox">PadBox</a></li>
						</Stack>
					</Accordion>
				</Stack>

				<FullBleed as="main" slot="content" gap="2xl">
					<slot />
				</FullBleed>
			</SidebarLayout>
		</Sprite.Provider>
	</body>
</html>

<style>
	nav {
		padding: 1rem 2rem;
		min-width: 20ch;
	}

	nav ul {
		padding: 0.5rem 0 1rem;
	}

	main :global(table em) {
		font-style: normal;
	}

	main :global(table em:after) {
		content: '*';
		color: red;
		font-weight: normal;
	}

	main :global(table th:last-child),
	main :global(table td:last-child) {
		text-align: end;
	}

	@media (max-width: 640px) {
		main :global(table) {
			font-size: var(--chisel-h6);
		}

		main :global(table td),
		main :global(table th) {
			padding: 1.2rem 0.25rem;
		}
	}
</style>
