---
import { FullBleed, Stack } from '@chisel-ui/astro'
import { Sprite } from 'astro-icon'
import '@chisel-ui/core/reset.css'
import '@chisel-ui/core/opinionated.css'
import '../styles/main.css'
import Accordion from '../components/Accordion.astro'
import SidebarLayout from '../components/SidebarLayout.astro'

const { content } = Astro.props
const title = [content?.title, 'Chisel UI'].filter(Boolean).join(' | ')
---

<html lang="en" data-chisel-theme="light">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>

	<body>
		<Sprite.Provider>
			<SidebarLayout>
				<Stack as="nav" slot="sidebar" gap="lg" padding={['2xl', '2rem']}>
					<Accordion open>
						<Fragment slot="summary">Components</Fragment>

						<Stack as="ul" gap="xs" padding={['0.5rem', 0, '1rem']}>
							<li><a href="/center">Center</a></li>
							<li><a href="/columndrop">ColumnDrop</a></li>
							<li><a href="/columns">Columns</a></li>
							<li><a href="/column">Column</a></li>
							<li><a href="/cover">Cover</a></li>
							<li><a href="/frame">Frame</a></li>
							<li><a href="/fullbleed">FullBleed</a></li>
							<li><a href="/grid">Grid</a></li>
							<li><a href="/inline">Inline</a></li>
							<li><a href="/inlinecluster">InlineCluster</a></li>
							<li><a href="/split">Split</a></li>
							<li><a href="/stack">Stack</a></li>
						</Stack>
					</Accordion>
				</Stack>

				<FullBleed as="main" slot="content" gap="2xl" padding={{top: 'xl'}}>
					<slot />
				</FullBleed>
			</SidebarLayout>
		</Sprite.Provider>
	</body>
</html>

<style>
	nav {
		min-width: 20ch;
	}

	main :global(table em) {
		font-style: normal;
	}

	main :global(table em:after) {
		content: '*';
		color: red;
		font-weight: normal;
	}

	main :global(table th:last-child),
	main :global(table td:last-child) {
		text-align: end;
	}

	@media (max-width: 640px) {
		main :global(table) {
			font-size: var(--chisel-h6);
		}

		main :global(table td),
		main :global(table th) {
			padding: 1.2rem 0.25rem;
		}
	}

	@media (min-width: 640px) {
		nav {
			border-right: 3px solid var(--chisel-neutral-300);
		}
	}
</style>
