<div {...Astro.props}>
	<slot />
</div>

<style>
	div {
		background: black none repeat scroll 0% 0%;
		color: white;
		line-height: 50px;
		text-align: center;
		font-weight: bold;
		min-height: 50px;
		min-width: 50px;
	}
</style>
