---
import { Inline, InlineCluster } from '@chisel-ui/astro'
import Button from './Button.astro'
import Toggle from './Toggle.astro'

const { targetId, ...props } = Astro.props
---

<Inline as="header" align="center" justify="between" padding={['0.5rem', '2rem']} class="elevation-medium" {...props}>
    <InlineCluster as="a" href="/" gap="sm">
        <span class="sr-only">Go to homepage</span>
        <img src="/icon.svg" aria-hidden="true" height="32" width="32" />
        <b>chisel-ui</b>
    </InlineCluster>
    <Button as={Toggle} {targetId} hollow>☰</Button>
</Inline>

<style>
    header {
        position: sticky;
        top: 0;
        background: var(--chisel-neutral-50);
        z-index: 10;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    b {
        display: none;
    }

    @media (min-width: 640px) {
        header {
            padding-block: 1rem;
        }

        b {
            display: inline-block;
        }

        button {
            display: none;
        }
    }
</style>