---
import { ColumnDrop } from 'chisel-ui'
import Box from '../../components/Box.astro'
---

<h3>Custom gutter as number (20)</h3>
<ColumnDrop gutter={20}>
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>Custom gutter as string ("3ch")</h3>
<ColumnDrop gutter="3ch">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>none</h3>
<ColumnDrop gutter="none">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>2xs</h3>
<ColumnDrop gutter="2xs">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>xs</h3>
<ColumnDrop gutter="xs">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>sm</h3>
<ColumnDrop gutter="sm">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>md</h3>
<ColumnDrop gutter="md">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>lg</h3>
<ColumnDrop gutter="lg">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>xl</h3>
<ColumnDrop gutter="xl">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>2xl</h3>
<ColumnDrop gutter="2xl">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>3xl</h3>
<ColumnDrop gutter="3xl">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>

<h3>4xl</h3>
<ColumnDrop gutter="4xl">
	<Box />
	<Box />
	<Box />
	<Box />
</ColumnDrop>
