---
import { InlineCluster } from 'chisel-ui'
import Box from '../../components/Box.astro'
import Layout from '../../layouts/DocsLayout.astro'
---

<Layout>
	<h3>Custom gutter as number (20)</h3>
	<InlineCluster gutter={20}>
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>Custom gutter as string ("3ch")</h3>
	<InlineCluster gutter="3ch">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>none</h3>
	<InlineCluster gutter="none">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>2xs</h3>
	<InlineCluster gutter="2xs">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>xs</h3>
	<InlineCluster gutter="xs">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>sm</h3>
	<InlineCluster gutter="sm">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>md</h3>
	<InlineCluster gutter="md">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<InlineCluster gutter="lg">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>xl</h3>
	<InlineCluster gutter="xl">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>2xl</h3>
	<InlineCluster gutter="2xl">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>3xl</h3>
	<InlineCluster gutter="3xl">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>

	<h3>4xl</h3>
	<InlineCluster gutter="4xl">
		<Box widthLevel={5} />
		<Box widthLevel={0.5} />
		<Box />
		<Box widthLevel={4} />
	</InlineCluster>
</Layout>