---
import { Stack } from 'chisel-ui'
import Box from '../../components/Box.astro'
import Layout from '../../layouts/DocsLayout.astro'
---

<Layout>
	<h3>Custom gutter as number (20)</h3>
	<Stack gutter={20}>
		<Box />
		<Box />
	</Stack>

	<h3>Custom gutter as string ("3ch")</h3>
	<Stack gutter="3ch">
		<Box />
		<Box />
	</Stack>

	<h3>none</h3>
	<Stack gutter="none">
		<Box />
		<Box />
	</Stack>

	<h3>2xs</h3>
	<Stack gutter="2xs">
		<Box />
		<Box />
	</Stack>

	<h3>xs</h3>
	<Stack gutter="xs">
		<Box />
		<Box />
	</Stack>

	<h3>sm</h3>
	<Stack gutter="sm">
		<Box />
		<Box />
	</Stack>

	<h3>md</h3>
	<Stack gutter="md">
		<Box />
		<Box />
	</Stack>

	<h3>lg</h3>
	<Stack gutter="lg">
		<Box />
		<Box />
	</Stack>

	<h3>xl</h3>
	<Stack gutter="xl">
		<Box />
		<Box />
	</Stack>

	<h3>2xl</h3>
	<Stack gutter="2xl">
		<Box />
		<Box />
	</Stack>

	<h3>3xl</h3>
	<Stack gutter="3xl">
		<Box />
		<Box />
	</Stack>

	<h3>4xl</h3>
	<Stack gutter="4xl">
		<Box />
		<Box />
	</Stack>
</Layout>