---
import { Center, Cover } from 'chisel-ui'
import Layout from '../../layouts/DocsLayout.astro'
---

<Layout>
    <Cover minHeight="50vh" gutter="sm">
        <Center style="max-width: 50vw;">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                consequuntur corrupti beatae commodi vitae, perspiciatis totam provident
                architecto doloribus aperiam sapiente, incidunt nihil suscipit
                voluptatibus tempore est dolor! Iusto, vero.
            </p>
        </Center>
    </Cover>
</Layout>

<style>
    p {
        text-align: center;
    }
</style>