---
import { PadBox } from 'chisel-ui'
import Layout from '../../layouts/Base.astro'
---

<Layout>
    <h3>Custom padding as number (20)</h3>
    <PadBox style="border: 1px solid black;" padding={20}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consequuntur
        corrupti beatae commodi vitae, perspiciatis totam provident architecto
        doloribus aperiam sapiente, incidunt nihil suscipit voluptatibus tempore
        est dolor! Iusto, vero.
    </PadBox>

    <h3>With 2 values</h3>
    <pre>["md", "xl"]</pre>
    <PadBox style="border: 1px solid black;" padding={["md", "xl"]}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consequuntur
        corrupti beatae commodi vitae, perspiciatis totam provident architecto
        doloribus aperiam sapiente, incidunt nihil suscipit voluptatibus tempore
        est dolor! Iusto, vero.
    </PadBox>

    <h3>With an object of values</h3>
    <pre>
        <code>
{JSON.stringify({
        top: "lg",
        inlineEnd: "xl",
        blockEnd: "sm"
        }, null, 3)}
        </code>
        </pre>
    <PadBox style="border: 1px solid black;" padding={{
        top: "lg",
        inlineEnd: "xl",
        blockEnd: "sm"
    }}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consequuntur
        corrupti beatae commodi vitae, perspiciatis totam provident architecto
        doloribus aperiam sapiente, incidunt nihil suscipit voluptatibus tempore
        est dolor! Iusto, vero.
    </PadBox>
</Layout>